

<form action="<%= users_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="username">Username</label><br>
  <input id="username" type="text" name="user[username]" value="">
  <br>

  <label for="password">Password</label><br>
  <input id="password" type="password" name="user[password]" value="">
  <br>

  <input class="submit" type="submit" value="Sign Up">
</form>
