/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*BREAK THIS OUT INTO MULTIPLE FILES*/

/*=== RESETS=== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  font: inherit;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;

  background: transparent;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* === BODY === */

body {
  font-family: sans-serif;
}

/* === NAV BAR === */

.nav {
  display: block;
  width: 100%;
  font-size: 14px;
}

.nav > ul {
  float: right;
}

.nav > ul > li {
  display: block;
  float: left;
  padding: 5px 10px;
}

.nav > a {
  display: block;
  float: left;
}

/* = LOG IN AND SIGN UP = */

.auth-page {
  margin: 20px;
  font-size: 14px;
}

h1 {
  font-size: 30px;
  font-family: Garamond;
  border-bottom: 1px solid #aaa;
}

form {
  padding: 20px 0;
  display: block;
}

form > label {

}

form > input {
  display: block;
  padding: 7px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 3px 0;
}

form > .submit {
  display: block;
  width: 316px;
  background: #00af89;
  text-align: center;
  color: white;
  border: 1px solid #00af89;
  font-weight: bold;
}

form > .submit:hover {
  background: #008c6d;
  border: 1px solid #008c6d;
  cursor: pointer;

}

.auth-page > .join-block {
  display: block;
  width: 316px;
  text-align: center;
}

.auth-page > .join-block > label {
}

.auth-page > .join-block > a {
  display: block;
  background: #347bff;
  text-align: center;
  color: white;
  border: 1px solid #347bff;
  font-weight: bold;
  border-radius: 2px;
  margin: 3px 0;
  padding: 7px;
}

.auth-page > .join-block > a:hover {
  background: #2962cc;
  border: 1px solid #2962cc;
}

.auth-page > .demo-user {
  display: block;
  width: 316px;
  /*margin: 10px 0;*/
}

.auth-page > .demo-user > input {
  display: block;
  background: #ff6666;
  border: 1px solid #ff6666;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  padding: 7px;
}

.auth-page > .demo-user > input:hover {
  background: #ff4444;
  border: 1px solid #ff4444;
}

.article {
  margin: 20px;
  max-width: 1000px;
}

.index {
  margin: 20px;
}

/*=== REACT NAV BAR ===*/

.nav-bar {
  display: block;
  /*position: fixed;*/
}

.nav-header {
  display: block;
  min-width: 600px;
  margin: auto;
  background: #FFC;
}

.nav-header > .nav-logo {
  display: block;
  float: left;
}

.nav-header > .nav-list {
  display: block;
  float: right;
}

.nav-header > .nav-list > li {
  display: block;
  float: left;
  padding: 10px;
}

.sidebar {
  display: none;
}

.nav-bar:hover > .sidebar {
  display: block;
  cursor: grab;
}
