/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*BREAK THIS OUT INTO MULTIPLE FILES*/

/*=== RESETS=== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  font: inherit;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;

  background: transparent;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* === BODY === */

body {
  font-family: sans-serif;
}

.main {
  display: block;
  padding-top: 47px;
  width: 100%;
}

.sidebar {
  display: block;
  float: left;
  position: fixed;
  width: 180px;
  height: 1080px;
  z-index: 99;
  /*background: yellow;*/
}

.content {
  display: block;
  float: left;
  width: calc(100% - 200px);
  padding: 20px 20px 20px 200px;
  position: relative;
}

.article {
  max-width: 1000px;
  min-width: 350px;
  margin: auto;
  background: white;
  padding: 10px 30px;
  margin-top: 65vh;
}

.header-image {
  width: calc(100% - 200px);
  height: auto;
  display: block;
  float: left;
  position: absolute;
  left: 180px;
  top: 0;
  z-index: -1;
}

.search-page {
  max-width: 1000px;
  min-width: 350px;
  margin: auto;
  background: white;
  padding: 10px 30px;
}
