// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// NAV BAR

.nav-bar {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-header {
  display: block;
  min-width: 600px;
  margin: auto;
  background-color: rgba(240, 240, 240, 0.5);
  border-bottom: 1px solid #ccc;
}

.nav-header > .nav-logo {
  display: block;
  float: left;
  font-size: 30px;
  padding: 5px 10px;
  font-family: serif;
  font: Garamond;
}

.nav-header > .nav-list {
  display: block;
  float: right;
  margin: 8px 10px 0 0;
}

.nav-header > .nav-list > li {
  display: block;
  float: left;
  color: black;
  padding: 10px;
}

// SIDEBAR

.toggle-sidebar {
  display: block;
  position: relative;
  float: left;
  padding-top: 20px;
}

.toggle-search {
  display: block;
  position: relative;
  float: left;
}

.sidebar {
  display:block;
  float:left;
  position: fixed;
  width: 180px;
  height: 100vh;
  z-index: 99;
  color: white;
  background: #999;
  direction: rtl;
  overflow: auto;
  margin-left: 0;
  transition: margin-left 1s;
}

.sidebar-list-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  direction: ltr;
  padding: 5px;
}

.hiding {
  margin-left: -170px;
}

.sidebar-list-item a {
  margin-left: 0;
  transition: margin-left 2s;
  padding: 5px;
}

.sidebar-list-item:hover a {
  margin-left: -75%;
}

.sidebar-list-item:hover {
  background: #666;
}


// WIKI - FETCHER

.wiki-fetcher {
  display: block;
  width: 400px;
  padding: 10px;
  margin: auto;
}

.wiki-fetcher-input {
  display: block;
  padding: 7px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 3px 0;
}

// ARTICLE INDEX
.pinned-article {
  display: block;
  height: 400px;
  width: 82%;
  margin: 10px 20px;
  padding: 20px;
  border: 1px solid #3ad;
  overflow: hidden;
}

.pinned-article > p {
}

/* = LOG IN AND SIGN UP = */

.auth-page {
  font-size: 14px;
}

h1 {
  font-size: 30px;
  font-family: Garamond;
  border-bottom: 1px solid #aaa;
}

form {
  padding: 20px 0;
  display: block;
  // background: green;
}

form > label {

}

input {
  display: block;
  padding: 7px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 3px 0;
}

.submit {
  display: block;
  width: 316px;
  background: #00af89;
  text-align: center;
  color: white;
  border: 1px solid #00af89;
  font-weight: bold;
}

.submit:hover {
  background: #008c6d;
  border: 1px solid #008c6d;
  cursor: pointer;
}

.auth-page > .join-block {
  display: block;
  width: 316px;
  text-align: center;
}

.auth-page > .join-block > label {
}

.auth-page > .join-block > a {
  display: block;
  background: #347bff;
  text-align: center;
  color: white;
  border: 1px solid #347bff;
  font-weight: bold;
  border-radius: 2px;
  margin: 3px 0;
  padding: 7px;
}

.auth-page > .join-block > a:hover {
  background: #2962cc;
  border: 1px solid #2962cc;
}

.demo-user {
  display: block;
  width: 316px;
}

.demo-user {
  display: block;
  background: #ff6666;
  border: 1px solid #ff6666;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  padding: 7px;
}

.demo-user:hover {
  background: #ff4444;
  border: 1px solid #ff4444;
}

.oauth-facebook {
  font-size: 32px;
}

.fa-facebook-official {
  display: block;
  color: #3B5998;
  background: white;
  float: left;
  margin: 0;
}

// ARTICLES

.article-editor {
  display: block;
  float: left;
  font-size: 32px;
  margin: 12px 0 0 30px;
}

.article-editor:hover {
  color: #3ad
}

.infobox {
  display: block;
  float: right;
  padding: 10px 20px 20px 20px;
  margin: 0 20px 20px 20px;
  border-left: 1px solid #eee;
  background: #fff;
}

.toc {
  display: block;
}

.tocnumber {
  color: #ccc;
  font-size: 50%;
  vertical-align: middle;
}

.toctext {
}

li {
  padding: 0 5px 0 10px;
}

a:hover {
  // color: #3da;
  color: #3ad;
  // background: #9de;
}

.title-block {
  margin-bottom: 5px;
  border-bottom: 1px solid #aaa;
}

.title {
  display: block;
  float: left;
  border-bottom: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 15px 0 5px 0;
}

h2 {
  font-size: 24px;
  border-bottom: 1px solid #eee;
}

h3 {
  font-size: 20px;
  // border-bottom: 1px solid #eee;
}

.thumbinner {
  display: block;
  float: right;
  padding: 20px;
  margin: 20px;
  border-left: 1px solid #eee;
}

.thumbcaption {
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
}

p {
  padding: 10px;
  // max-width: 800px;
}

.hatnote {
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
}

.mw-jump, .siteSub, .metadata {
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
}

.wikitable {
  display: block;
  margin: 10px 0;
  vertical-align: middle;
  // border: 1px solid #eee;
}

td {
  padding: 5px;
  border-bottom: 1px solid #eee;
}

th {
  padding: 5px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.mw-content-ltr > ul > li {
    padding: 5px 10px;
}

.reference {
  color: #39d;
  font-size: 50%;
  vertical-align: text-top;
}

.gallerybox {
  display: block;
  float: left;
}

.gallery:after {
  content: "";
  display: block;
  clear: both;
}

// SEARCH PAGE

.search-form {
  display: block;
  width: 400px;
  padding: 10px;
  margin: auto;
}

.search-info {
  display: block;
  width: 300px;
  margin: auto;
}

// UPLOAD MODAL

.modal {
  display: none;
  position: fixed;
  font-size: 16px;
  top: 50%;
  left: 50%;
  width: 320px;
  padding: 10px;
  margin-left: -160px;
  transform: translateY(-50%);
  background: white;
  border: 1px solid #ccc;
  z-index: 99;
}

.modal.is-active {
  display: block;
}

.modal-header {
  display:block;
  margin: auto;
  text-align: center;
}

.submit-button {
  display: block;
  width: 316px;
  background: #00af89;
  text-align: center;
  color: white;
  border: 1px solid #00af89;
  font-weight: bold;
}

.submit-button:hover {
  background: #008c6d;
  border: 1px solid #008c6d;
  cursor: pointer;
}

.cancel-button {
  display: block;
  background: #ff6666;
  border: 1px solid #ff6666;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  padding: 7px;
}

.cancel-button:hover {
  background: #ff4444;
  border: 1px solid #ff4444;
}

.preview-image {
  display: block;
  margin: auto;
  width: 310px;
  height: auto;
}

.rescue {
  display: block;
  margin: auto;
}

.rescue > p {
  text-align: center;
}
